body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.label{
    position: absolute;
    width: 4rem;
    height: 2rem;
    background-color: lightslategray;
    border-radius: 1.25rem;
    cursor: pointer;
    padding: 0.2rem;
}

.input{
    visibility: hidden;
}

.circle{
    width: 2rem;
    height: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: absolute;
    animation: toggleOff .4s linear forwards;
}

.input:checked + .label{
    background-color: brown;
}

.input:checked + .label .circle{
    animation: toggleOn .4s linear forwards;
}

@keyframes toggleOn{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(2rem);
    }
}

@keyframes toggleOff{
    0%{
        transform:translateX(2rem);
    }
    100%{
        transform:translateX(0);
    }
}