body{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
}

.main-container img{
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.main-container h2{
    color: white;
    font-weight: 500;
}

.main-container p{
    color: white;
    margin: 1rem 0;
}

.button{
    background-color: white;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.button:hover{
    background-color: orange;
}

.trailer-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.active.trailer-container{
    visibility: hidden;
    opacity: 0;
}

.trailer-container video{
    position: relative;
    max-width: 900px;
    outline: none;
    height: 90vh;
}

@media (max-width : 991px){
    .trailer-container video{
        max-width: 90%;
    }
}

.close-icon{
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: white;
}