body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("bg.avif");
    background-size: contain;
    overflow: hidden;
    background-repeat: repeat-x;
}

.clock{
    color: white;
    display: flex;
}

.clock div{
    margin: 0.5rem;
    position: relative;
}

.clock span{
    width:100px;
    height: 80px;
    background-color: grey;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px rgba(0,0,0, 0.9);

}

h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
}

.clock .text{
    height: 2rem;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(57, 56, 56);
}

.clock #ampm{
    position: absolute;
    bottom : 0;
    height: 2rem;
    width: 3.5rem;
    /* background-color: rgb(197, 148, 85); */
}