body{
    margin: 0;
    padding: 0;
}

.top-container{
    background-image: url("https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-container h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2rem;
}

.text{
    margin: 3rem 5%;
}

.navbar{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-evenly;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.3);

}

.navbar ul{
    display: flex;
    list-style-type: none;
}

.navbar ul li a{
    text-decoration: none;
    margin: 0 1rem;
}

.navbar ul li a:hover{
    color: red;
}

.navbar.active{
    background-color: black;

}

.navbar.active ul li a{
    color: white;
}
