body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
    background-color: rgb(75, 162, 197);
}

.container{
    background-color: rgb(103, 171, 171);
    width: 27vw;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0,0,70, 0.7);
}
 .textarea{
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    font-family: sans-serif;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid rgb(61, 113, 101);
 }

 .counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
 }

 .total-counter, .remaining-counter{
    color: blue;
 }