@import url('https://fonts.googleapis.com/css2?family=Anton&family=Permanent+Marker&display=swap');

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(168, 122, 130);
    font-family: 'Anton', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
}