body {
    font-family: 'Courier New', Courier, monospace;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/bg.avif);
  background-size: cover;
}

.form{
    background-color: rgb(170, 199, 233);
    padding: 2rem;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 70, 0.7);
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.75rem;
    border: 0.125rem solid rgb(65, 65, 214);
    color: rgb(65, 65, 214);
}

.input::placeholder{
    color: rgb(24, 13, 83);
    font-family: cursive; 
}

.button{
    display: block;
    margin: auto;
    /* padding: ; */
    margin: 1rem 0;
    width: 100%;
    background-color:rgb(65, 65, 214) ;
    border: none;
    color: white;
    padding: 0.3rem;
    font-size: 1.2rem;
    font-family: cursive;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.button:hover{
    filter: brightness(0.8);
}

.score{
    color:rgb(65, 65, 214);
    text-align: right;
}

