body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #645CAA;
    color: rgb(43, 39, 39);
}

img{
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    height: 30rem;
    margin-bottom: 2rem;
}

.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 5rem 0;
}

.tabs{
    background-color: #BFACE0;
    border-radius: 0.5rem;
    grid-template-rows: auto 1fr;
}

.button{
    padding: 1rem 0;
    border: none;
    background-color: #A084CA;
    cursor:  pointer;
    transition: all .3s linear;
    letter-spacing: .25rem;
}

.button-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.button:nth-child(1){
    border-top-left-radius: .5rem;
}
.button:nth-child(3){
    border-top-right-radius: .5rem;
}

.button:hover:not(.live){
    background-color: #EBC7E8;
    color: #535078;
}

.tabs-content{
    padding: 2rem 1rem;
}

@media (min-width: 70vw){
    .image{
        margin-bottom: 0;
    }
    .section-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

.content{
    display: none;
}

.content.live{
    display: block;
}

.button.live{
    background-color: #BFACE0;
}