body{
    margin: 0;
    height: 0;
    background-color: black;
}

span{
    background: url(https://cdn4.iconfinder.com/data/icons/bold-purple-free-samples/32/Like_Love_Heart_Appreciate_Disabled_Feelings-256.png);
    width: 6rem;
    height: 6rem;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animate 6s linear;
}

@keyframes animate{
    0%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100%{
        transform: translate((-50%, -50%));
        opacity: 0;
    }
}