body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.button{
    background-color: pink;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    color: black;
    position: relative;
    overflow: hidden;
}

.button::before{
    content : '';
    background-color: orangered;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    top: var("--yPos");
    left: var("--xPos");
}

.button:hover::before{
    animation: ripple 0.5s linear 0s 1 normal;
}

@keyframes ripple {
    0%{
        width: 0vw;
        height: 0vh;
    }
    100%{
        width: 60vh;
        height: 60vh;
    }
}