body{
    margin: 0;
    /* padding: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

.image-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.image-container img{
    margin : 1rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.3);
    width: 20rem;
    height: 20rem;
}

.button{
    background-color: slateblue;
    border: none;
    padding: 1rem 1rem;
    margin: 1.5rem;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.3);
    cursor: pointer;
}

.button:hover{
    opacity: 0.9;
}

